
// Base

@import 'base/variables';
@import 'base/mixins';
@import 'base/normalize';

//Components

@import 'components/typography';
@import 'components/navigation';
@import 'components/buttons';
@import 'components/hero';
@import 'components/section-icon';
@import 'components/page-section';
@import 'components/services';
@import 'components/call-to-action';
@import 'components/info-cell';
@import 'components/portfolio';
@import 'components/who-we-are';
@import 'components/our-team';
@import 'components/clients';
@import 'components/work-process';
@import 'components/pricing';
@import 'components/experience';
@import 'components/form';
@import 'components/footer';

li {
	list-style: none;
}

ul {
	list-style: none;
}




header {
	background-image: linear-gradient(130deg,rgba(211,4,208,0.9),rgba(65,65,242,0.9)),url('../assets/icons/hero.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
}

.mac-holder {
	max-width: 100%;
	position: absolute;
	transform:translateY(-35.5%);
	z-index: 5;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.mac-holder img {
	max-width: 100%;
}

.wrapper {
	max-width: 1190px;
	margin: 0 auto;
	width: 100%;
}












