.btn {
	color: $white;
	padding: 15px 45px;
	border-radius: 50px;
	margin: 40px 0 45px 0;
	font-weight: 300;
}

.btn--pink {
		background-color: $button;
}

.btn--ghost {
	color: $primaryColor;
	border: 1px solid $primaryColor;
}

@media (max-width: 480px) {
	.btn--ghost {
		border: none;
	}
}

.btn--grey {
	color: #000;
	background-color: rgb(241, 241, 241);
	text-transform: uppercase;
	font-weight: 500;
}

.btn--purple {
	text-transform: uppercase;
	font-weight: 500;
	color: #D304D0;
	background-color: $white;
}

.btn--small {
	padding: 15px 25px;
	margin-right: 0;
}

@media (max-width: 768px) {
	.btn.btn--small {
		padding: 12px 10px;
	}
}	

.btn--large {
	padding: 14px 30px;

}

.btn--right-align {
	align-items: center;
}
