.experience {
	background-image: -webkit-linear-gradient(rgba(224, 227, 227, 0.6980392156862745), rgba(224, 227, 227, 0.6980392156862745)), url(../assets/images/section_hero_02.jpg);
	background-size: cover;
	background-position: center;
}

.experience__cell {
	position: relative;
}

.experience__content {
	text-align: center;
	position: absolute;
	top: 25%;
	left: 32%;
}

.experience__wrapper {
	display: flex;
	justify-content: space-around;
	padding: 150px 0 350px 0;
}

@media (max-width: 768px) {
	.experience__wrapper {
		flex-wrap: wrap;
		padding: 50px 0 50px 0;
	}
}



.experience__number {
	font-size: 1.875rem;
	color: $secondaryColor;
}
