.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
	.navbar__logo {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
		.navbar {
			flex-direction: column;
		}
	}

.nav {
	display: flex;
	.nav__list-item {
		padding: 15px;
	}
	.nav__link {
		color: $white;
		text-decoration: none;
	}
	.nav__link--no-r-padding {
		padding-right: 0;
	}
}


@media (max-width: 768px) {
		.nav {
			margin-top: 40px;
		}
	}

	@media (max-width: 480px) {
		.nav {
			flex-wrap: wrap;
			justify-content: center;
		}

		.nav__link {
			padding: 10px 0;
			display: block;
			margin: 5px;
			text-align: center;
		}
	}

