
.portfolio__search-menu {
	display: flex;
	justify-content: center;
	margin-top: 75px;
}

.portfolio__list-item {
	margin-right: 10px;
}

.portfolio__link {
	padding: 15px 20px;
	margin: 5px;
	display: block;
	text-align: center;
}

@media (max-width: 940px) {
	.portfolio__list-item  {
		padding: 10px 0;
		display: block;
		margin: 5px;
		text-align: center;
	}
}

@media (max-width: 768px) {
	.portfolio__search-menu {
		flex-wrap: wrap;
		justify-content: center;
	}
	.portfolio__list-item {
		margin-right: 0;
		padding: 0;
	}

	.portfolio__link {
		padding: 15px 10px;
		display: block;
		text-align: center;
		border: none;
	}
}

@media (max-width: 480px) {
	.portfolio__list-item {
		margin: 0 auto;
	}

	.portfolio__link {
		padding: 15px 0;
		border: none;
	}
}


.portfolio__gallery {
	display: flex;
	flex-wrap: wrap;
	margin-top: 80px;
}

.portfolio__image-container {
	width: 33.3%;
}

@media (max-width: 940px) {
	.portfolio__image-container {
		width: 50%;
	}
}

@media (max-width: 480px) {
	.portfolio__image-container {
		width: 100%;
	}
}

.portfolio__image {
	width: 100%;
	display: block;
}
