.pricing {
	background-color: #efefef;
}

// Flex parent
.price-box {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 85px;
	max-width: 1170px;
	padding-bottom: 110px;
}

@media (max-width: 940px) {
	.price-box {
		flex-wrap: wrap;
	}
}



.price-box__cell {
	width: 33%;
	background-color: $white;
	margin-right: 30px; 
	padding: 60px 0 50px 0;
	text-align: center;
	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 25px 25px 120px #C9CCCF;
}

@media (max-width: 940px) {
	.price-box__cell {
		width: 40%;
		margin: 1%;
		margin-right: 0;
	}
}

@media (max-width: 768px) {
	.price-box__cell {
		width: 60%;
		margin-bottom: 30px;
	}
}

@media (max-width: 480px) {
	.price-box__cell {
		width: 95%;
		margin: 1%;
		margin-right: 0;
	}
}

.price-box__cell ul {
	text-align: left;
	padding-left: 45px;
}

.price-box__cell--gradient {
	background: $gradient;
}

.price-box__cell:last-child {
	margin-right: 0;
}

.price-box__title--black {
	color: #000;
}

.price-box__title--white {
	color: $white;
}

.price-box--grey-text {
	color: $secondaryColor;
	margin: 35px auto 25px auto;
}

.price-box--white-text {
	color: $white;
	margin: 35px auto 25px auto;
}

.price-box__price {
	font-size: 5rem;
	display: block;
	text-align: center;
	margin: 30px auto 50px auto;
	font-weight: 600;
}

.price-box__price--white {
	color: $white;
	text-shadow: 2px 2px 30px #4141f2;
}

.price-box__list {
	padding: 20px 0;
}

.price-box__price--gradient {
	background: -webkit-linear-gradient(#D304D0, #4141f2);
	      -webkit-background-clip: text;
	      -webkit-text-fill-color: transparent;
	      text-shadow: 2px 2px 30px #4141f2;
}

.price-box__title--centered {
	text-align: center;
	padding: 60px auto 25px auto;
}

.fa-check {
	color: rgb(0, 186, 151); 
	margin-right: 20px;
}

@media (max-width: 940px) {
	.fa-check  {
		margin-right: 10px;
	}
}

.fa-check--white {
	color: $white;
}
