body {
	color: $primaryColor;
}

h1, h2, h3, h4, h5, p {
	font-family: "Lato";
}

h2, h3, h4, h5 {
	color: $primaryColor;
}

p {
	color: $secondaryColor;
}

.section__title {
	font-size: 1.75rem;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 2px;

	&--centered {
		text-align: center;
	}
}

.section__subtitle {
	color: #909191;
	text-align: center;
	margin-top: 40px;
	&--italic {
		font-style: italic;
	}
}

.paragraph__small-width {
	max-width: 215px;
	color: $secondaryColor;
	margin-top: 20px;
}

.paragraph__large-width {
	max-width: 550px;
	color: $secondaryColor;
	margin: 35px auto 35px auto;
}

@media (max-width: 1048px) {
	.paragraph__large-width {
		max-width: 400px;
		color: $secondaryColor;
		margin-right: 30px;
	}
}


@media (max-width: 480px) {
	.paragraph__large-width {
		margin: 35px auto 35px auto;
	}
}

.paragraph--extra-t-margin {
	margin-top: 15px;
}

.paragraph--centered {
	text-align: center;
}

.paragraph--uppercase {
	text-transform: uppercase;
	margin-top: 25px;
}

.paragraph--extra-padding {
	padding: 0 70px;
}

.call-to-action__title {
	font-size: 2.3125rem;
	max-width: 550px;
	color: $white;
}

@media (max-width: 480px) {
	.call-to-action__title {
		font-size: 1.5rem;
	}
} 

.about-us__title {
	font-size: 1.25rem;
}

@media (max-width: 1048px) {
	.about-us__title {
		font-size: 2rem;
		margin-top: 25px;
	}
}

@media (max-width: 768px) {
	.about-us__title {
		text-align: center;
	}
}

.testimonal__title {
	margin: 50px 0 15px 0;
}

.work-process__banner-paragraph {
	line-height: 1.5;
}

.paragraph__small {
	font-size: .625rem;
	text-transform: uppercase;
	margin-top: 20px;
}

