.who-we-are__wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}


@media (max-width: 1048px) {
	.who-we-are__wrapper {
		flex-direction: column;
	}
}

.main-card__wrapper {
	display: flex;
	align-items: center;
}

@media (max-width: 1048px) {
	.main-card__wrapper {
		justify-content: center;
	}
}

@media (max-width: 1048px) {
	.about-us__container {
		display: flex;
		justify-content: center;
		margin-top: 30px;
		}
}

@media (max-width: 600px) {
	.about-us__container {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		}
}

.card--outside {
	width: 380px;
	height: 420px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card--outside--box-shadow {
	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 25px 25px 120px #C9CCCF;
}

.card--outside--left {
	position: relative;
	left: 22%;
}

@media (max-width: 1048px) {
	.card--outside--left  {
	position: relative;
	left:-30%;
	}
}

.card--outside--small {
	transform: scale(.7);
	position: absolute;
	left: -10px;
	z-index: 0;
}


@media (max-width: 1048px) {
	.card--outside--small {
		transform: scale(.7);
		position: relative;
		left: 25%;
		z-index: 0;
	}
}

.card--inside {
	width: 282px;
	height: 230px;
	margin-top: 50px;
	background-color: #e5ede8;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card--icon {
	margin-top: - 20%;
	font-size: 25px;
	margin-bottom: 40px;
}

.card--bar-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.card--bar {
	height: 12px;
	width: 220px;
	border-radius: 20px;
	margin: 5px auto;
}

.card--bar1 {
	background-color: #dee6e1;
}

.card--bar2 {
	background-color: #d9e4dd;
	margin-bottom: 20px;
}

.card--bar3 {
	background-color: #d3dfd7;
}

.card--bar4 {
	background-color: #c7d7cd;
}

.card--bar5 {
	background-color: #bed1c5;
}